.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1500px;
}

.d-none {
    display: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (min-width: 800px) {
    .container {
        width: 80%;
    }
}