/* Fonts */

@font-face {
    font-family: 'Lato';
    src: url(./assests/fonts/Lato-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(./assests/fonts/Lato-Light.ttf) format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url(./assests/fonts/Lato-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/*Custom Properties */

:root {
    --ff-primary: 'Lato', sans-serif;
    --fw-lite: 200;
    --fw-reg: 400;
    --fw-bold: 800;
    --clr-light: #fff;
    --clr-dark: #333;
    --clr-accent-up1: #1cbbb4;
    --clr-accent-up2: rgba(28, 187, 180, .7);
    --clr-accent-down1: #ffac1d;
    --clr-accent-down2: rgba(255, 172, 29, .7);
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;
}

@media (min-width: 800px) {
     :root {
        --fs-h1: 3.75rem;
        --fs-h2: 3rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}


/* General styles */

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    color: var(--clr-light);
    font-family: var(--ff-primary), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: var(--fs-body);
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

strong {
    font-weight: var(--fw-bold)
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:active,
a:visited {
    color: inherit;
}

:focus {
    outline: 2px solid var(--clr-dark);
}


/* Typography */

h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1)
}

h2 {
    font-size: var(--fs-h2)
}

h3 {
    font-size: var(--fs-h3)
}